/*DEBUG*/

/*.container{
  background-color: green;
}

.content{
  background-color: pink;
}

.gallery{
  background-color: red;
}*/

.modal-image-container{
  /*background-color: pink;*/
}

/******/

*{
  /*transition: all 0.3s;*/
}

header{
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 4
}

header a{
  display: inline-block;
  margin-left: 2vw;
  margin-top: 1vw;
  color: #63cefc;
  font-size: 3vw;
}

header a:hover{
  color: #ffe000;
}

.current{
  color: black;
}

.container{
  margin-top: 20px;
  position: fixed;
  /*width: 41%;*/
  max-width: 483px;
  /*height: 100%;*/
  z-index: 3;
}
.paul, .paul-bis{
  font-size: 148px;
  left: 60px;
  top: 85px;
  transform: translate(0, 0);
  margin-top: 20px;
}

.paul-bis{
  margin-left: 5px;
}

.content{
  /*top: 240px;*/
  /*position: absolute;*/
  margin-left: 60px;
  margin-right: 70px;
  margin-top: 300px;
  z-index: 2;
  width: 80%;
}

.icon{
  width: 30px;
  display: inline-block;
  cursor: pointer;
}

.about{
  display: inline-block;
  font-size: 28px;
  position: absolute;
  margin-left: 10px;
}

.description{
  font-size: 16px;
  margin-top: 70px;
}

.paragraphe{
  display: block;
  margin-top: 28px;
}

.gallery{
  width: calc(90% - 483px);
  margin-left: 483px;
  position: absolute;
  top: 28%;
  text-align: center;
}

.gallery img{
  width: 204px;
  margin: 8px;
  cursor: pointer;
}

.modal{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ffe000;
	z-index: 2;
	display: none;
}

.modal-image-container{
  position: absolute;
  left: 483px;
  display: inline-block;
  max-width: 748px;
  max-height: 730px;
  max-width: 750px;
  width: calc(95% - 483px);
  height: 78%;
  top: 22%;
  background-size: contain;
  background-repeat: no-repeat;
}

#modal-title{
  position: absolute;
  top: 700px;
  font-size: 75px;
  background-color: white;
  left: 60px;
}

.cross{
  position: absolute;
  width: 100px;
  left: 91%;
  top: 17%;
  cursor: pointer;
}

@media screen and (max-width: 1182px) {
  .paul, .paul-bis{
    font-size: 16vw;
    /*top: 30px;*/
    left: 10%;
    margin-top: 0;
  }
}

@media screen and (max-width: 1029px){
  .gallery img{
    width: 178px;
    margin: 8px;
  }
}

@media screen and (min-width: 1298px) {
  .cross{
    left: 1181px;
  }
}

@media screen and (max-width: 1200px){
  .cross{
    width: 72px;
    top: 19%;
  }
}

@media screen and (max-width: 940px){

  #modal-title{
    left: 50%;
    transform: translate(-50%, 0);
  }

  .content{
    margin-left: 30px;
  }

  .gallery{
    width: calc(84% - 342px)
  }

}

.mobile-header, .mobile-menu, .mobile-menu-detail, .mobile-gallery-description{
  display: none;
}

@media screen and (max-width: 873px){
  header{
    display: none;
  }

  .container{
    display: none;
  }

  .gallery{
    position: static;
    width: 100%;
    text-align: center;
    margin: 0
  }

  .gallery img{
    width: 300px;
    height: 274px;
    display: block;
    margin: 10px auto;
  }

  .mobile-header{
    display: block;
    width: 100%;
    text-align: center;

  }

  .mobile-header a{
    color: #63cefc;
    font-size: 90px;
    text-shadow: 4px 0px white;
  }

  .mobile-menu{
    display: block;
    text-align: center;
    font-size: 50px;
    width: 100%;
    background-color: white;
    cursor: pointer;
  }

  .mobile-menu-detail{
    display: block;
    width: 100%;
    background-color: white;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  .appear{
    max-height: 20em;
  }

  .mobile-menu-detail a{
    display: block;
    font-size: 50px;
    color: #63cefc;
  }

  .mobile-menu-detail a:hover{
    color: #ffe000;
  }

  .modal-image-container{
    left: 3%;
    width: 94%;
  }

  .cross{
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #modal-title{
    font-size: 35px;
    top: 0;
  }

  .mobile-gallery-description{
    display: block;
    width: 100%;
    text-align: center;
    margin: 40px 0;
  }

  .mobile-icon{
    width: 30px;
    display: inline-block;
    cursor: pointer;
  }

  .mobile-about{
    font-size: 28px;
  }

  .mobile-description{
    padding: 30px 207px;
  }

  .mobile-invisible{
    display: none;
  }

}
